Web/LoggerWeb/Service References/WcfLoggerService/Logger.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logger.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logger.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSourceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logs" nillable="true" type="tns:ArrayOfLogDataEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDataModel" nillable="true" type="tns:LogDataModel" />
  <xs:complexType name="ArrayOfLogDataEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogDataEntry" nillable="true" type="tns:LogDataEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogDataEntry" nillable="true" type="tns:ArrayOfLogDataEntry" />
  <xs:complexType name="LogDataEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDataEntry" nillable="true" type="tns:LogDataEntry" />
</xs:schema>