Web/LoggerWeb/Service References/WcfLoggerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfLoggerService" />
  <xs:element name="GetLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfLoggerService" minOccurs="0" name="GetLogsResult" nillable="true" type="q1:WcfLogData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>